PORT=<port>
TMDB_API_KEY=<tmbd_api_key>
MONGO_URI=<mongo_uri>
CLOUDINARY_CLOUD_NAME=<cloudinary_cloud_name>
CLOUDINARY_API_KEY=<cloudinary_api_key>
CLOUDINARY_API_SECRET=<cloudinary_api_secret>

# You can replace <mongo_uri> with:
# - mongodb://localhost:27017/movies-db (for local MongoDB)
# - Your MongoDB Atlas connection string for remote access
# Optionally, you can import the movies-db.movies.json into MongoDB Compass or Atlas.