<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git" />
  <package id="gh" />
  <package id="bun" />
  <package id="nvm" />
  <package id="mongodb.install" />
  <package id="mongodb-compass" />
  <package id="mongodb-atlas" />
  <package id="postman" />
  <package id="vscode" />
  <package id="warp" />
</packages>

<!-- Edit file to add or remove packages/dependencies -->